{% assign background = include.background | default: include.content.background %}
{% assign imageAlt = include.imageAlt | default: include.content.imageAlt %}
{% assign imageLicense = include.imageLicense | default: include.content.imageLicense %}
{% assign href = include.href | default: include.content.href %}
{% assign blankTarget = include.blankTarget | default: include.content.blankTarget | default: false %}
{% assign ratio = include.ratio %}
{% assign useBackgroundImage = include.useBackgroundImage %}

{% if background %}
{% assign background = background | liquify  %}
<div class="feature-img" style="{% if useBackgroundImage %}background-image: url('{{ background }}'); {% endif %}{% if ratio %}padding-bottom: {{ratio}}%{% endif %}">
  {% if useBackgroundImage != true %}
    {% if site.thumbor and include.ignoreThumbor != true %}
    <picture>
        <source srcset="{% thumbor {{background | absolute_url}}, fit_in, width: 4000 %} 4000w, 
                        {% thumbor {{background | absolute_url}}, fit_in, width: 3000 %} 3000w, 
                        {% thumbor {{background | absolute_url}}, fit_in, width: 2000 %} 2000w, 
                        {% thumbor {{background | absolute_url}}, fit_in, width: 1600 %} 1600w, 
                        {% thumbor {{background | absolute_url}}, fit_in, width: 1200 %} 1200w, 
                        {% thumbor {{background | absolute_url}}, fit_in, width: 1000 %} 1000w, 
                        {% thumbor {{background | absolute_url}}, fit_in, width: 800 %} 800w, 
                        {% thumbor {{background | absolute_url}}, fit_in, width: 500 %} 500w,
                        {% thumbor {{background | absolute_url}}, fit_in, width: 10 %} 10w"
                {% if include.sizes %}
                sizes="{{ include.sizes }}"
                {% endif %}
                        >
      <img  src="{{ background | absolute_url}}" 
            alt="{{ imageAlt | escape }}"
            srcset="{% thumbor {{background | absolute_url}}, fit_in, width: 4000 %} 4000w, 
                    {% thumbor {{background | absolute_url}}, fit_in, width: 3000 %} 3000w, 
                    {% thumbor {{background | absolute_url}}, fit_in, width: 2000 %} 2000w, 
                    {% thumbor {{background | absolute_url}}, fit_in, width: 1600 %} 1600w, 
                    {% thumbor {{background | absolute_url}}, fit_in, width: 1200 %} 1200w, 
                    {% thumbor {{background | absolute_url}}, fit_in, width: 1000 %} 1000w, 
                    {% thumbor {{background | absolute_url}}, fit_in, width: 800 %} 800w, 
                    {% thumbor {{background | absolute_url}}, fit_in, width: 500 %} 500w,
                    {% thumbor {{background | absolute_url}}, fit_in, width: 10 %} 10w"
            {% if include.sizes %}
            sizes="{{ include.sizes }}"
            {% endif %}
                    />
    </picture>
    {% else %}
    <img src="{{ background | absolute_url}}" alt="{{ imageAlt | escape }}" />
    {% endif %}
  {% endif %}
  {% if href %}<a href="{{ href }}" {% if blankTarget %}target="_blank"{% endif %} class="feature-overlay"></a>{% endif %}
  {% if imageLicense %}
  <div class="feature-img-license">
     <div class="feature-img-license-c"><span class="icon"><i class="fa fa-info-circle"></i></span> </div>
     <div class="feature-img-license-text">{{ imageLicense | liquify | markdownify }}</div>
  </div>
  {% endif %}
</div>
{% endif %}
