{% assign preTitle = include.preTitle | default: include.content.preTitle %}
{% assign title = include.title | default: include.content.title | default:"" | append: "" %}
{% assign description = include.description | default: include.content.description %}
{% assign imageLicense = include.imageLicense | default: include.content.imageLicense %}
{% assign cta = include.cta | default: include.content.cta %}
{% assign center = include.center | default: include.content.center %}
{% assign categories = include.categories | default: include.content.categories %}
{% assign href = include.href | default: include.content.href | default: false %}
{% assign blankTarget = include.blankTarget | default: include.content.blankTarget | default: false %}

{% if preTitle or title or description or cta %}
<div class="feature-content {% if center %} feature-content--centered {% endif %}">
  <div class="feature-text">
    {% if href %}<a href="{{ href }}" {% if blankTarget %}target="_blank"{% endif %} class="feature-overlay"></a>{% endif %}
    {% if preTitle %} 
    <div class="feature-pre-title">{{ preTitle }}</div>
    {% endif %}
    
    {% if title %}
    <h3 class="feature-title">
      {% if href %}
      <a href="{{ href }}" {% if blankTarget %}target="_blank"{% endif %}>{{ title | append: "" | liquify | markdownify }}</a>
      {% else %}
      {{ title | append: "" | liquify | markdownify }}
      {% endif %}
    </h3>
    {% endif %}
  </div>
  
  {% if description %}
  <div class="feature-description">
    {{ description | markdownify }}
  </div>
  {% endif %}

  {% if cta %}
  <div class="feature-cta">
    {% for cta in cta %}
    <a href="{{ cta.href | relative_url }}" {% if cta.blankTarget %}target="_blank"{% endif %} class="button {% if cta.isPrimary %}is-primary{% else %}is-outlined{% endif %} {% if cta.klass %}{{cta.klass}}{% endif %}">{{ cta.text }}</a>
    {% endfor %}
  </div>
  {% endif %}

  {% if categories %}
  {% assign archive_permalink = site.data.languages[page.lang].archive_permalink | default: site.algae.archive_permalink %}
  <div class="feature-categories">
    <div class="tags">
      {% for category in categories %}
        <a class="tag is-light" href="{{ archive_permalink | relative_url }}?category={{ category | strip | url_encode }}">{{ category }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
{% endif %}
