{% assign background = include.background | default: include.content.background %}
{% assign imageLicense = include.imageLicense | default: include.content.imageLicense %}
{% assign href = include.href | default: include.content.href %}
{% assign ratio = include.ratio %}

{% if background %}
<div class="feature-img" style="{% if ratio %}padding-bottom: {{ratio}}%{% endif %}">
  {% if href %}<a href="{{ href }}" class="feature-overlay"></a>{% endif %}
  {%- if site.thumbor -%}
  <picture>
      <source type="image/webp"
              srcset="{% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 2000 %} 2000w, 
                      {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 1600 %} 1600w, 
                      {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 1200 %} 1200w, 
                      {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 1000 %} 1000w, 
                      {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 800 %} 800w, 
                      {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 500 %} 500w"
                      >
    <img  src="{{ background | absolute_url}}" 
          srcset="{% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 2000 %} 2000w, 
                  {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 1600 %} 1600w, 
                  {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 1200 %} 1200w, 
                  {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 1000 %} 1000w, 
                  {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 800 %} 800w, 
                  {% thumbor {{background | absolute_url}}, fit_in, format_filter: webp, width: 500 %} 500w"
                  />
  </picture>
  {%- else -%}
  <img  src="{{ background | absolute_url}}" />
  {%- endif -%}
  {% if imageLicense %}
  <div class="feature-img-license">
     <div class="feature-img-license-c">© </div>
     <div class="feature-img-license-text">{{ imageLicense | markdownify }}</div>
  </div>
  {% endif %}
</div>
{% endif %}
