{% assign background = include.background | default: include.content.background %}
{% assign imageLicense = include.imageLicense | default: include.content.imageLicense %}
{% assign href = include.href | default: include.content.href %}
{% assign ratio = include.ratio %}

{% if background %}
<div class="feature-img" style="background-image: url('{{ background }}'); {% if ratio %}padding-bottom: {{ratio}}%{% endif %}">
  {% if href %}<a href="{{ href }}" class="feature-overlay"></a>{% endif %}
  {% if imageLicense %}
  <div class="feature-img-license">
     <div class="feature-img-license-c">© </div>
     <div class="feature-img-license-text">{{ imageLicense | markdownify }}</div>
  </div>
  {% endif %}
</div>
{% endif %}