{% assign footer = site.data[page.lang].footer | default: site.data.footer %}

<footer>
  <div class="footer">
    <div>
      {% if page.layout != 'index' and page.lang-ref%}
        {% assign posts = site.posts | where: "lang-ref", page.lang-ref | sort: 'lang' %}
        {% if posts.size == 0 %}
            {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% endif %}
        {% if posts.size > 1 %}
        <div class="lang-options">
            <em>{{ site.data.translations['differentLanguage'][page.lang] }}:</em>
            <ul>
            {% for post in posts %}
            <li>
              <a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="View in {{post.lang}}">
                <!-- {% if site.data.languages[post.lang].icon %}
                <img src="{{ site.data.languages[post.lang].icon }}" style="margin-right: 6px; height:1em;" />
                {% endif %} -->
                {{ site.data.languages[post.lang].label }}
              </a>
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
      {% endif %}
    </div>
    <div>
      <div class="footer-groups">
        {% for col in footer.columns %}
        <div class="footer-column">
          <p class="footer-column-name">{{ col.name }}</p>
          {% if col.description %}
          <div class="footer-description">
            {{ col.description | markdownify }}
          </div>
          {% endif %}
          {% if col.links %}
          <ul class="footer-links">
            {% for item in col.links %}
            <li>
              <a href="{{ item.href | relative_url}}">{{ item.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          
          {% if col.connectIcons %}
          <ul class="footer-online-list">
            {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if site.youtube_username %}
            <li>
              <a href="https://www.youtube.com/user/{{ site.youtube_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if site.facebook_username %}
            <li>
              <a href="https://www.facebook.com/{{ site.facebook_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
          </ul>
          {% endif %}

        </div>
        {% endfor %}
      </div>

      {% if footer.other %}
      <div class="footer-footer">
        {{ footer.other | markdownify }}
      </div>
      {% endif %}

    </div>
  </div>
  <div class="footer-hostedby">
    <div><a href="https://www.gbif.org/news/6RG9WSU3knIxyhcDUBQTJY/first-five-hosted-portals-emerge-from-gbif-pilot-programme"><img src="/assets/theme/img/hostedby.svg"/></a></div>
  </div>
</footer>

<script>
  {% assign locale = site.locale | default: 'en' %};
  var currentLocale = '{{ locale }}';
</script>

<script src="{{ '/assets/theme/js/script.js' | relative_url }}?v={{ site.time | date:'%s' }}"></script>

{% if page.layout == 'archive' %}
<script>
  // On the news archive page we add a very rudimentary search, 
  // by filtering in the client on categories
  // 
  // Filter cards on ?category=value
  const urlParams = new URLSearchParams(window.location.search);
    
  if (urlParams.has("category") && urlParams.get("category") != "") {
    var category = urlParams.get("category"); // Will return 1st category value + decode URI
    
    // filter features
    var features = document.querySelectorAll('.feature');
    features.forEach(function(feature){
      var cardCategories = feature.attributes['data-categories'].value.split('|').map(function(x){return x.trim();});
      // Hide card if it does not contain the selected category
      if (!cardCategories.includes(category)) {
        feature.style.display = 'none';
      }
    });

    //show filter in top
    var filterElement = document.getElementById('archive-filter');
    if (filterElement) {
      filterElement.innerHTML = '<div class="tags has-addons">' + 
        '<a href="{{ site.algae.archive_permalink | relative_url }}" class="tag is-medium">' + category + '</a>' + 
        '<a href="{{ site.algae.archive_permalink | relative_url }}" class="tag is-medium is-delete"></a>' +
      '</div>'
    }
  }
</script>
{% endif %}

{% if page.lastInBody %}
  {{ page.lastInBody }}
{% endif %}