<script type="text/html" id="post_tmpl">
  <article class="feature" data-categories="Lejlighedssange|Stine Pilgaard|">
    <div class="feature-img feature-post-color-<%=color%>">
      <a
        href="<%=url%>"
        class="feature-overlay"
        ><%=title%></a
      >
    </div>

    <div class="feature-content">
      <div class="feature-text">
        <a
          href="<%=url%>"
          class="feature-overlay"
        ></a>

        <div class="feature-pre-title">September 11, 2015</div>

        <h3 class="feature-title">
          <a href="<%=url%>"
            ><%=title%></a
          >
        </h3>
      </div>

      <div class="feature-description">
        <p><%=excerpt%></p>
      </div>
    </div>
  </article>
</script>