@import "theme/_main";
@import "theme/_syntaxHighlight";

.compositionBlocks {
  section {
    border-bottom: 5px solid tomato;
    // border-top: 5px solid tomato;
  }
}

.language-splash {
  h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0!important;
  }
}