{% assign parallax = include.parallax | default: include.content.parallax | default: false %}
{% assign fullHeight = include.fullHeight | default: include.content.fullHeight | default: false %}
{% assign background = include.background | default: include.content.background | default: "https://via.placeholder.com/1000x600?text=background%20required" %}
{% assign preTitle = include.preTitle | default: include.content.preTitle %}
{% assign title = include.title | default: include.content.title | default: "TITLE IS REQUIRED" %}
{% assign description = include.description | default: include.content.description %}
{% assign cta = include.cta | default: include.content.cta %}

<div 
  class="heroArticleHeader {% if parallax %} parallax {% endif %} {% if fullHeight %} full-height {% else %} not-full-height {% endif %}" 
  style="background-image:url('{{background}}');"
  >
  <img src="{{ background }}" alt="{{ include.alt }}"/>
  <div class="display-table">
    <div class="display-table-cell__bottom">
      <div class="heroArticleHeader__content">
        <h5 class="pre-title">{{preTitle}}</h5>
        <h3 class="title">
          <a href="#"
            ><b
              >{{ title }}</b
            ></a
          >
        </h3>
        {% if description %}
        <div class="post-info">
          <div>
            {{ description }}
          </div>
        </div>
        {% endif %}
        <!-- post-info -->
      </div>
      <!-- content-card -->
    </div>
    <!-- display-table-cell -->
  </div>
</div>