{% assign preTitle = include.preTitle | default: include.content.preTitle %}
{% assign title = include.title | default: include.content.title %}
{% assign description = include.description | default: include.content.description %}
{% assign background = include.background | default: include.content.background %}
{% assign imageLicense = include.imageLicense | default: include.content.imageLicense %}
{% assign cta = include.cta | default: include.content.cta %}
{% assign center = include.center | default: include.content.center %}
{% assign categories = include.categories | default: include.content.categories %}
{% assign url = include.url | default: include.content.url %}

{% if background %}
<div class="feature-img" style="background-image: url('{{ background }}')">
  {% if url %}<a href="{{ url }}" class="feature-overlay"></a>{% endif %}
  {% if imageLicense %}
  <div class="feature-img-license">
     <div class="feature-img-license-c">© </div>
     <div class="feature-img-license-text">{{ imageLicense | markdownify }}</div>
  </div>
  {% endif %}
</div>
{% endif %}
<div class="feature-content {% if center %} feature-content--centered {% endif %}">
  <div class="feature-text">
    {% if url %}<a href="{{ url }}" class="feature-overlay"></a>{% endif %}
    {% if preTitle %}
    <div class="feature-pre-title">{{ preTitle }}</div>
    {% endif %}

    {% if title %}
    <h3 class="feature-title">
      {% if url %}
      <a href="{{ url }}">{{ title }}</a>
      {% else %}
      {{ title }}
      {% endif %}
    </h3>
    {% endif %}
  </div>
  
  {% if description %}
  <div class="feature-description">
    {{ description | markdownify }}
  </div>
  {% endif %}

  {% if cta %}
  <div class="feature-cta">
    {% for cta in cta %}
    <a href="{{ cta.href | relative_url }}" class="button {% if cta.isPrimary %}is-primary{% else %}is-outlined{% endif %}">{{ cta.text }}</a>
    {% endfor %}
  </div>
  {% endif %}

  {% if categories %}
  <div class="feature-categories tags">
    {% for category in categories %}
      <a class="tag is-light" href="{{ site.archive_permalink | relative_url }}?category={{ category | strip | url_encode }}">{{ category }}</a>
    {% endfor %}
  </div>
  {% endif %}

</div>
