{% assign toc = page.toc %}
{% assign mobileToc = page.mobileToc %}
{% assign html = include.html | default: content %}

{% if html %}
<section>
  <div class="container">
    {% if page.toc %}
    <div class="article article--toc">
      <div class="columns">
        <div class="column toc is-one-third {% if page.mobileToc %} toc__keepOnMobile {% else %} toc__removeOnMobile {% endif %}">
          {% include toc.html html=html %}
        </div>
        <div class="column is-two-thirds">
          {% include blocks/parts/prose.html content=html %}
        </div>
      </div>
    </div>
    {% else %}
      <div class="article">
        {% include blocks/parts/prose.html content=html %}
      </div>
    {% endif %}
  </div>
</section>
{% endif %}
