{% assign toc = page.toc %}
{% assign mobileToc = page.mobileToc %}
{% assign html = include.html | default: content %}
{% assign klass = include.klass | default: include.content.klass %}

<script>
document.gbifTocMaxDepth = {{ page.tocMaxDepth | default: 6}};
</script>

{% if html %}
<section className="{% if include.content.klass %} {{ include.content.klass }} {% endif %}">
  <div class="container">
    {% if page.toc %}
    <div class="article--toc">
      <div>
        <div class="toc-wrapper {% if page.mobileToc %} toc__keepOnMobile {% else %} toc__removeOnMobile {% endif %}">
          {% include toc.html html=html %}
        </div>
        <div class="article">
          {% include blocks/parts/prose.html content=html %}
        </div>
      </div>
    </div>
    {% else %}
      <div class="article">
        {% include blocks/parts/prose.html content=html %}
      </div>
    {% endif %}
  </div>
</section>
{% endif %}
