{% assign randomId = "now" | date: "%N" %}
{% assign id = include.id | default: include.content.id | default: randomId %}
{% assign title = include.title | default: include.content.title %}
{% assign useSiteLinkWhenPossible = include.useSiteLinkWhenPossible | default: include.content.useSiteLinkWhenPossible | default: false %}
{% assign description = include.description | default: include.content.description %}
{% assign sizes = "(max-width: 500px) 100vw, 360px" %}
{% assign filters = include.filters | default: include.content.filters %}
{% assign graphqlEndpoint = site.graphqlEndpoint | default: "https://graphql.gbif.org/graphql" %}
{% assign language = site.data.languages[page.lang].storiesLocale | default: "en-GB" %}

{% assign dataUseLabel = site.data.translations.contentTypes['DataUse'][page.lang] | default: "Data Use" %}
{% assign eventLabel = site.data.translations.contentTypes['Event'][page.lang] | default: "Event" %}
{% assign literatureLabel = site.data.translations.contentTypes['Literature'][page.lang] | default: "Literature" %}
{% assign newsLabel = site.data.translations.contentTypes['News'][page.lang] | default: "News" %}

<section class="features {% if include.content.klass %} {{ include.content.klass }} {% endif %}">
  {% if title or description %}
  <div class="features-intro">
    {% include blocks/parts/feature.html content=include.content %}
  </div>
  {% endif %}
  <div id="resources-container-{{id}}" class="feature-cards has-{{include.content.features.size}}-elements">

  </div>
</section>

<script>
  (function () {
    var CONTENT_TYPE_OPTIOS = ["NEWS", "LITERATURE", "DATA_USE", "EVENT"]

    // Extract values from the liquid template
    var graphqlEndpoint = "{{graphqlEndpoint}}";
    var language = "{{language}}"
    var containerId = "resources-container-{{id}}";
    var filters = {{ filters | jsonify }};
    var dataUseLabel = "{{dataUseLabel}}";
    var eventLabel = "{{eventLabel}}";
    var literatureLabel = "{{literatureLabel}}";
    var newsLabel = "{{newsLabel}}";
    var useSiteLinkWhenPossible = {{useSiteLinkWhenPossible | jsonify}} || false;

    // Add default values to content type if not set. This is to prevent GraphQL from returning a content type we don't support
    if (filters.contentType == null) {
      filters.contentType = CONTENT_TYPE_OPTIOS;
    }

    // Make sure the content type array provided only contains supported content types
    filters.contentType = filters.contentType.filter(function (value) {
      var isSupportedContentType = CONTENT_TYPE_OPTIOS.includes(value);
      if (!isSupportedContentType) {
        console.warn("Invalid content type: " + value + " has been provided to the stories block type. Supported values are: " + CONTENT_TYPE_OPTIOS.join(", "));
      }
      return isSupportedContentType;
    });

    function fetchResources() {
      var GQL_QUERY = `
          query ResourceSearch($contentType: [ContentType!], $limit: Int, $countriesOfResearcher: [String!], $countriesOfCoverage: [String!], $topics: [String!], $locale: [String!]) {
            resourceSearch(
              contentType: $contentType
              size: $limit
              countriesOfResearcher: $countriesOfResearcher
              countriesOfCoverage: $countriesOfCoverage
              topics: $topics
              locale: $locale
            ) {
              documents {
                results {
                  __typename
                  ... on Literature {
                    id
                    title
                    excerpt
                    websites
                  }
                  ... on News {
                    id
                    title
                    excerpt
                    gbifHref
                    primaryImage {
                      file {
                        url
                      }
                      title
                    }
                  }
                  ... on DataUse {
                    id
                    title
                    excerpt
                    gbifHref
                    primaryImage {
                      file {
                        url
                      }
                      title
                    }
                  }
                  ... on MeetingEvent {
                    id
                    title
                    excerpt
                    gbifHref
                    primaryImage {
                      file {
                        url
                      }
                      title
                    }
                    primaryLink {
                      label
                      url
                    }
                  }
                }
              }
            }
          }
      `;

      // Construct the request headers
      var requestHeaders = {
        'Content-Type': 'application/json',
      };

      if (language) {
        requestHeaders['locale'] = language;
      }

      return fetch(graphqlEndpoint, {
        method: 'POST',
        headers: requestHeaders,
        body: JSON.stringify({
          query: GQL_QUERY,
          variables: filters,
        }),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (result) {
          if (Array.isArray(result.errors)) {
            console.error(result.errors);
          }

          if (result.data != null && result.data.resourceSearch != null && result.data.resourceSearch.documents != null && Array.isArray(result.data.resourceSearch.documents.results)) {
            return result.data.resourceSearch.documents.results;
          }

          return [];
        })
        .catch(function (error) {
          console.error(error)
        });
    }

    function renderResources(root, resources) {
      if (resources.length === 0) {
        // TODO: Render a message that no resources were found
        return;
      }

      var html = resources.map(function (resource) {
        return `
          <article class="feature">
            ${renderFeatureImage(resource)}
            ${renderFeatureContent(resource)}
          </article>
        `;
      }).join("");

      root.innerHTML = html;
    }

    function renderFeatureImage(resource) {
      if (resource.primaryImage == null) {
        return '';
      }

      return `
        <div class="feature-img">
          <img 
            src="${resource.primaryImage.file.url}" 
            title="${resource.primaryImage.title}" 
          <a 
            href="${createResourceHref(resource)}" 
            target="_blank" 
            class="feature-overlay">
          </a>
        </div>
      `;
    }

    function renderFeatureContent(resource) {
      const link = createResourceHref(resource);
      const target = link.startsWith('/') ? '' : 'target="_blank"';
      return `
        <div class="feature-content">
          <div class="feature-pre-title">${pickResourceLabel(resource)}</div>
          <h3 class="feature-title">
            <a href="${link}" target="${target}">${resource.title}</a>
          </h3>
          <div class="feature-description">${resource.excerpt}</div>
        </div>
      `;
    }

    function pickResourceLabel(resource) {
      switch (resource.__typename) {
        case "DataUse": return dataUseLabel;
        case "MeetingEvent": return eventLabel;
        case "Literature": return literatureLabel;
        case "News": return newsLabel;
      }

      return resource.__typename;
    }

    function createResourceHref(resource) {
      if (resource.__typename === "Literature") {
        return resource.websites[0];
      }

      if (resource.__typename === "MeetingEvent" && resource.primaryLink != null) {
        return resource.primaryLink.url;
      }

      if (useSiteLinkWhenPossible) {
        // link to the websites own version of this item if it is a supported type (supported types are Event, DataUse, News)
        if (['MeetingEvent', 'DataUse', 'News'].includes(resource.__typename)) {
          return `/resource?key=${encodeURIComponent(resource.id)}`;
        }
      }

      return resource.gbifHref;
    }

    fetchResources().then(function (resources) {
      var root = document.getElementById(containerId);
      renderResources(root, resources);
    });
  })();
</script>