<!DOCTYPE html>
{% assign languageCode = site.data.languages[page.lang].languageCode | default: page.lang | default: site.algae.rootLang %}
<html lang="{{languageCode}}">

  {% include themeHead.html %}

  <body class="{% if page.klass %}{{ page.klass }}{% endif %}">
    <!-- useful variables -->
    <script>
      var pageLang = '{{ page.lang }}';
      var rootLang = '{{ site.algae.rootLang }}';
      var basename = pageLang === rootLang ? undefined : pageLang;
      var languageSettings = {{ site.data.languages | jsonify }};
    </script>
    {% include bodyTop.html %}
    {% include navbar.html %}

    <main>

      <div>
          
        {{ content | replace: '<table', '<table class="table"' }}

      </div>
    </main>
    
    {% include terms.html %}
    {% include footer.html %}
  </body>
</html>
