---
layout: gbifData
description: Default template for occurrence search
---
{% assign languageCode = site.data.languages[page.lang].widgetLocale | default: site.data.languages[page.lang].languageCode | default: page.lang | default: site.algae.rootLang | default: 'en' %}

{{ content }}

<div id="root"></div>
<script>
  var widgetLocale = '{{ languageCode }}';
  var userTheme = typeof siteTheme !== 'undefined' ? siteTheme : undefined;
  var userConfig = typeof siteConfig !== 'undefined' ? siteConfig : {};
  var routeConfig = userConfig.routeConfig || {};
  routeConfig.basename = basename;
  var collectionConfig = userConfig.collection;
  
  ReactDOM.render(
    React.createElement(
      gbifReactComponents.Collection,
      { 
        style: { height: 'calc(100vh - 4.25rem)' }, 
        theme: userTheme, 
        config: collectionConfig,
        routeContext: routeConfig,
        defaultBaseName: '/'
      }
    ),
    document.getElementById('root')
  );

  if (typeof userTheme === 'undefined') {
    console.warn('No theme defined - using default styling');
  }
  if (typeof userConfig === 'undefined') {
    console.warn('No config provided - all data will be shown');
  }
</script>