---
layout: headerOnly
---

<div id="root"></div>
<!--react and gbif component-->
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.12.0/mapbox-gl.min.css" integrity="sha512-KxWh2zhfqjqLf8V6nej7w8PbXiZuqrQq+PA1EE+73+7dpYbMocKIXKPlq50ZaWPDY5iQcyaX3I4xLUuOWBCCug==" crossorigin="anonymous" />

{% if site.gbifApacheInclude.componentsScript %}
<!--dynamically include version running in environment-->
{{ site.gbifApacheInclude.componentsScript }}
{% else %}
<!-- <script type="text/javascript" src="https://react-components.gbif-staging.org/lib/gbif-react-components.js"></script> -->
<script type="text/javascript" src="http://localhost:5000/dist/lib/gbif-react-components.js"></script>
{% endif %}

<script type="text/javascript" src="/assets/theme/js/config.js"></script>

{{ content }}
