---
layout: base
---
<style>
  .gbif-occurrenceSearchLayout, .__reakit-portal {
    line-height: 1em;
  }
  .arrow > svg {
    vertical-align: inherit;
  }
  body > main {
    padding-bottom: 0;
    background: #f1f5f8;
  }
  body > footer {
    display: none;
  }
  label {
    margin-bottom: 0;
  }
  h4 {
    font-size: 14px;
  }
</style>

<!--react and gbif component-->
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/2.1.1/mapbox-gl.min.css" integrity="sha512-j4BKLk7HB2Umio2SKGP4gh1L3jouxJDuBxcWoq4kf1fYIkJyXQUGxs9me8yz2wexxAIHIcQHzn64UfPIG232xQ==" crossorigin="anonymous" />

{% if site.gbifApacheInclude.componentsScript %}
<!--dynamically include version running in environment-->
{{ site.gbifApacheInclude.componentsScript }}
{% else %}
<!-- <script type="text/javascript" src="https://react-components.gbif-staging.org/lib/gbif-react-components.js"></script> -->
<script type="text/javascript" src="http://localhost:5000/dist/lib/gbif-react-components.js"></script>
{% endif %}

<!-- useful variables -->
<script>
var pageLang = '{{ page.lang }}';
var rootLang = '{{ site.algae.rootLang }}';
var basename = pageLang === rootLang ? undefined : pageLang;
</script>

<script type="text/javascript" src="/assets/theme/js/config.js"></script>

{{ content }}
