<!DOCTYPE html>
<html>

  {% include themeHead.html %}

  <body>
    <style>
      .gbif-occurrenceSearchLayout, .__reakit-portal {
        line-height: 1em;
      }
      .arrow > svg {
        vertical-align: inherit;
      }
      body > main {
        padding-bottom: 0;
        background: #f1f5f8;
      }
      body > footer {
        display: none;
      }
      label {
        margin-bottom: 0;
      }
      h4 {
        font-size: 14px;
      }
    </style>
    {% include navbar.html %}
    <main>
      <div>
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>