<!DOCTYPE html>
{% assign preTitle = include.preTitle | default: page.preTitle %}
{% assign title = include.title | default: page.title %}
{% assign description = include.description | default: page.description %}
{% assign background = include.background | default: page.background %}
{% assign whiteText = include.whiteText | default: page.whiteText %}

{% assign first4 = background | slice: 0, 4 %}
{% assign firstLetter = background | slice: 0 %}
{% if first4 == 'http' or firstLetter == '/' %}
  {% assign isImage = true %}
{% endif %}


<html>
  {% include themeHead.html %}
  <body class="language-splash {% if whiteText %}language-splash--darken{% endif %}"
    {% if background %}
    style="background-image: {% if isImage %}
        url('{{ background }}')
      {% else %}
        {{ background }}
      {% endif %}"
    {% endif %}
  >
    <main class="content">
      <div class="feature-content box">
        {{ content }}
        <div class="m-t-2">
        {% include languageSelector.html %}
        </div>
      </div>
    </main>
  </body>
</html>