---
layout: gbifData
description: Default template for occurrence search
---
{% assign languageCode = site.data.languages[page.lang].widgetLocale | default: site.data.languages[page.lang].languageCode | default: page.lang | default: site.algae.rootLang | default: 'en' %}

{{ content }}

<div id="root"></div>
<script>
  var widgetLocale = '{{ languageCode }}';
  var userTheme = typeof siteTheme !== 'undefined' ? siteTheme : undefined;
  var userConfig = typeof siteConfig !== 'undefined' ? siteConfig : undefined;
  var publisherConfig = userConfig.publisher;
  ReactDOM.render(
    React.createElement(
      gbifReactComponents.PublisherSearch,
      { 
        style: { height: 'calc(100vh - 4.25rem)' }, 
        theme: userTheme, 
        config: publisherConfig,
        locale: widgetLocale,
      }
    ),
    document.getElementById('root')
  );

  if (typeof userTheme === 'undefined') {
    console.warn('No theme defined - using default styling');
  }
  if (typeof publisherConfig === 'undefined') {
    console.warn('No publisher config provided - all data will be shown');
  }
</script>